/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic);

* { 
	box-sizing: border-box;
	/*border: 1px solid black !important;*/
}

body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Droid Serif', serif;
	/*background-repeat:no-repeat;
	background-size:cover; */
	background-color: black;
}

a { 
	text-decoration: none;
}


/* navigation*/

header {
	width: 100%;
	height:120px;
	overflow: hidden;
	/*border-bottom: 1px solid #FFF;*/
	
	position: fixed;
	top: 0;
	
	z-index: 999;
}

.nav {
	width: 100%;
	height: 120px;
	overflow: hidden;
/*	background-color: red;*/
	margin: auto;
	padding: 30px;
	
	position:fixed;
	right:0;

	
}

.logo,
ul#menu {
	display:inline-block;
	vertical-align: center;

}

/*logo*/
.logo {
	width: 85px;
	height: 85px;
	/*background-color: #DBAFB0;*/

}

.logo img:hover {
	display: block;
}

/*navigation list items*/

ul#menu {
	margin: 15px 25px;
	padding: 5px;
	/*background-color: blue;*/
	position: absolute;
	right:0;

}

ul#menu li {
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	
	margin-left: 3px;
	/*background-color: red;*/
	
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-transform:uppercase;
	text-align: center;
	line-height: 35px;
}


ul#menu li:first-child {
	width: 75px;
	backrgound-color: red;
}/*design*/

ul#menu li:nth-child(2) {
	width: 100px;
}/*photography*/

ul#menu li:nth-child(3) {
	width: 95px;
	border-right: 1px solid #FFF;
} /*contact*/

ul#menu li:nth-child (4) {
	width: 25px;
}

ul#menu li:last-child {
	width:40px;
	
}/*linkedin & behance*/

.fa.fa-behance,
.fa.fa-linkedin {
	font-size: 20px;
	line-height: 10px !important;
}


/*nav links*/

ul li a{
	display: block;
}

ul li a:visited {
	color: #FFF;
}

ul li a:link {
	color: #FFF;
}


ul li a:hover {
	color: #F02D32;
}

/*contents*/
 
.contents {
	width: 100%;
	height: 660px;
	margin: 0 auto;	
	padding-top: 140px;
	/*background-color: blue;*/
	
	position: relative;
	left: 0;
}

/*form*/
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	margin: 0 auto;
	padding-top:0px;
	border-top: 1px solid white;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	width: 90%;
	
	position: absolute;
	left: 5%;
  	margin-top:30px;
	margin-bottom: 30px;
	
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 14px;
	border-radius: 0;
	line-height: 20px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 120px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-red{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #F02D32;
	color:white;
	font-size:20px;
	padding-top:15px;
	padding-bottom:15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-red:hover{
	background-color: rgba(0,0,0,0);
	color: #F02D32;
}
	
.submit:hover {
	color: #F02D32;
}
	
.ease {
	width: 0px;
	height: 55px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}




/*footer*/
footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background-color: black;
	border-top: 1px solid white;
	
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	color: #FFF; 
	text-align: center;
	line-height: 100px;
	
	z-index: 990;
	
	position: absolute;
	left: 0;
	bottom: 0;
	
}